<%= form_with(model: transaction, class: "p-4 bg-gray-300 shadow-lg rounded border border-2 border-primary") do |form| %>
  
  <% if transaction.errors.any? %>
    <div id="error_explanation" class="alert alert-danger mb-4">
      <h2 class="h5 text-danger fw-bold">
        <i class="bi bi-exclamation-circle-fill"></i>
        <%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:
      </h2>
      <ul class="mb-0 ps-3">
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="row g-3">
    <div class="col-md-6">
      <%= form.label :amount, class: "form-label fw-bold text-primary" %>
      <div class="input-group">
        <span class="input-group-text bg-primary text-white"><i class="bi bi-cash-stack"></i></span>
        <%= form.number_field :amount, min: 0, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <%= form.label :transaction_type, class: "form-label fw-bold text-primary" %>
      <div class="input-group">
        <span class="input-group-text bg-primary text-white"><i class="bi bi-tags"></i></span>
        <%= form.select :transaction_type, Transaction.transaction_types.keys, {}, class: "form-select" %>
      </div>
    </div>

    <div class="col-md-6">
      <%= form.label :date, class: "form-label fw-bold text-primary" %>
      <div class="input-group">
        <span class="input-group-text bg-primary text-white"><i class="bi bi-calendar-date"></i></span>
        <%= form.date_field :date, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <%= form.label :description, class: "form-label fw-bold text-primary" %>
      <div class="input-group">
        <span class="input-group-text bg-primary text-white"><i class="bi bi-textarea-t"></i></span>
        <%= form.text_field :description, maxlength: 255, class: "form-control" %>
      </div>
    </div>
  </section>

  <div class="mt-4 d-flex justify-content-end">
    <%= form.submit "Save Transaction", class: "btn btn-success px-5 py-2 fw-bold shadow-sm" %>
  </div>

<% end %>
