<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-12 bg-dark p-5 rounded-3 shadow-lg">
      <% if notice.present? %>
        <div class="alert alert-success text-center" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <div class="mb-4">
        <%= render @transaction %>
      </div>

      <div class="d-flex justify-content-center gap-2">
        <%= link_to edit_transaction_path(@transaction), class: "btn btn-warning" do %>
          <i class="bi bi-pencil"></i> Edit
        <% end %>
        <%= link_to transactions_path, class: "btn btn-info" do %>
          <i class="bi bi-arrow-left"></i> Back
        <% end %>
        <%= button_to  @transaction, method: :delete, class: "btn btn-danger" , data: { confirm: "Are you sure?" } do %>
          <i class="bi bi-trash"></i> Destroy
        <% end %>
      </div>
    </div>
  </div>
</div>
